.wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.gap-b{
	margin: 5px;
}
.mainCont{
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 20px 30px;
	margin: 0 auto;
/*	background-color: rgb(240, 240, 240, 1.0);*/
}

.mainCont .p1{
	text-align: center;
	font-size: 25px;
	margin-bottom: 30px;
}

.mainCont input{	
	padding: 10px;
	margin-bottom: 10px;
	border: solid 1px rgb(220, 220, 220, 1.0);
	outline: none;
	border-radius: 10px;
	font-size: 15px;
	max-width: 360px;
}

.uploadBtn{
	padding: 10px;
	border-radius: 10px;
	background: #f5427e;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.uploadBtn svg{
	vertical-align: middle;
	margin-left: 15px;
	fill: #fff;
	max-width: 360px;
}

.p2{
	font-size: 17px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

.mainCont input[type="radio"]{
	position: relative;
	top: 2px;
	margin-right: 2px;
    display: inline;
	height: 15px;
	width: 15px;
}

.l1{
	padding: 5px;
	margin: 5px;
	border: solid 1px #f5427e;
	border-radius: 10px;
}

.l1 svg{
	margin-left: 3px;
}

.submitBtn{
	width: 150px;
	padding: 10px 0;
	margin: 10px auto;
	border: none;
	border-radius: 7px;
	background-color:  #f5427e;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}





@media only screen and (max-width:400px){

   .mainCont{
   	  width: 300px;
   	  padding: 0;
   }
}

